<% if books.present? %>
  <div class="row">
    <% books.each do |book| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= book.book_url %>" alt="" >
            </div>
            <div class="panel-body">
               <% if book.persisted? %>
                 <p class="item-title"><%= link_to book.name, book %></p>
               <% else %>
                 <p class="item-title"><%= book.name.truncate(50).gsub("　", " ") %></p>
               <% end %>
                  <div class="buttons text-center">
                    <% if logged_in? %>
                      <%= render 'books/favorite_button', book: book %>
                    <% end %>
                  </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>